  html{
  height:100%;
  }

  body{
      height: 0%;
    background-image: url(../img/mesa.png);
    background-size: 550px 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #C16100

  }

.Participantes{
        width: 10px;
}

#Jugar{
    height:5%;
    padding: 1em 3em;
    margin: 1em 30%;
}

.img{
    width: 35px; 
    height: 55px;
}

.imgs{
    width: 25px;
    height: 55px;
}

.btn{
    font-size: 10px;
    width:60px;
}

.jug{
    font-size: 14px;
}

table#table_jugadores tr td{
	height:190px;
	width:186px;
    margin: 100px; 
}
